{% extends "_base.html" %}
{% load static %}
{% block title %}
  VetSimplify - Homepage
{% endblock title %}
{% block content %}
  {% include "_navbar.html" %}
  <div class="h-screen bg-cover bg-center"
       style="background-image: url('{% static 'images/background.jpg' %}')">
    <div class="w-full h-full flex flex-col justify-center items-center backdrop-brightness-50">
      <div class="flex items-center justify-center mb-8">
        <h1 class="text-white text-4xl font-bold">Vítejte v aplikaci VetSimplify</h1>
      </div>
    </div>
  </div>
{% endblock content %}
