{% extends "_base.html" %}
{% block navbar %}
    {% include "_navbar.html" %}
{% endblock navbar %}
{% block title %}
    Kartotéka
{% endblock title %}
{% block content %}
    <div class="container mx-auto px-4 sm:px-8">
        <div class="py-8">
            <div class="flex justify-between items-center -my-4">
                <h2 class="text-xl font-semibold">Majitelé</h2>
                <a href="{% url 'records:owner_create' %}"
                   class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 my-2 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    Přidat majitele
                </a>
            </div>
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <thead>
                            <tr>
                                <th class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                    Jméno a Příjmení
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                    Adresa
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                    Telefon
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                    E-mail
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for owner in object_list %}
                                <tr class="bg-white">
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                        <div class="flex justify-center">
                                            <div class="ml-3">
                                                <a href="{% url 'records:owner_detail' owner.id %}"
                                                   class="text-blue-600 hover:underline whitespace-no-wrap text-center">{{ owner.first_name }} {{ owner.last_name }}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                        <div class="flex justify-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap text-center">
                                                    {{ owner.street }} {{ owner.house_number }}, {{ owner.postal_code }}  {{ owner.city }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                        <div class="flex justify-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap text-center">{{ owner.phone_number }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                        <div class="flex justify-center">
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap text-center">{{ owner.email }}</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
