{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block navbar %}
    {% include "_navbar.html" %}
{% endblock navbar %}
{% block title %}
    {{ animal_case.name }} - Upravit návštěvu
{% endblock title %}
{% block content %}
    <div class="flex flex-col justify-centermin-h-screen py-4 bg-gray-200 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900 leading-9">
                Upravit návštěvu - {{ owner.first_name }} {{ owner.last_name }} | {{ animal.name }}, {{ animal.get_animal_type_display }} | {{ animal_case.name }}
            </h2>
        </div>
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-7xl">
            <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
                <form method="post">
                    {% csrf_token %}
                    {% crispy visit_form %}
                    <h3 class="mt-6 text-xl font-extrabold text-center text-gray-900 leading-9">Položky ze skladu:</h3>
                    {{ formset.management_form }}
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Položka skladu
                                </th>
                                <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Množství
                                </th>
                                <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Cena
                                </th>
                                <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Odstranit?
                                </th>
                            </tr>
                        </thead>
                        <tbody id="form-set">
                            {% for form in formset %}
                                <tr>
                                    <td>
                                        {{ form.stock_item|add_class:"border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm" }}
                                    </td>
                                    <td>
                                        {{ form.quantity|add_class:"border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm" }}
                                    </td>
                                    <td>
                                        {{ form.price|add_class:"border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm" }}
                                    </td>
                                    <td>
                                        {{ form.id }}
                                        {{ form.DELETE|add_class:"w-4 h-4 text-blue-600 bg-gray-50 border-gray-400 rounded focus:ring-blue-500 focus:ring-2" }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="button"
                            id="add-button"
                            class="mt-4 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        Přidat položku
                    </button>
                    <h3 class="mt-6 text-xl font-extrabold text-center text-gray-900 leading-9">Úkony:</h3>
                    {{ procedure_formset.management_form }}
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Úkon
                                </th>
                                <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Cena
                                </th>
                                <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Odstranit?
                                </th>
                            </tr>
                        </thead>
                        <tbody id="procedure-form-set">
                            {% for form in procedure_formset %}
                                <tr>
                                    <td>
                                        {{ form.procedure|add_class:"border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm" }}
                                    </td>
                                    <td>
                                        {{ form.price|add_class:"border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm" }}
                                    </td>
                                    <td>
                                        {{ form.id }}
                                        {{ form.DELETE|add_class:"w-4 h-4 text-blue-600 bg-gray-50 border-gray-400 rounded focus:ring-blue-500 focus:ring-2" }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="button"
                            id="add-procedure-button"
                            class="mt-4 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        Přidat úkon
                    </button>
                    <br>
                    <div class="grid grid-cols-12">
                        <div class="bg-green-300 rounded-md px-2 py-2 col-span-2">
                            <h3 class="text-lg font-semibold">Celková cena:</h3>
                            <span id="total-price">0</span><span>&nbspKč</span>
                        </div>
                    </div>
                    <button type="submit"
                            class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Uložit
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script>
        const addButton = document.getElementById('add-button');
        let formIdx = {{ formset|length }};
        const formSet = document.getElementById('form-set');
        const totalForms = document.querySelector("#id_visit_stock_item-TOTAL_FORMS");
    
        function updatePrice(event) {
            const stockItems = JSON.parse('{{ stock_items_json|escapejs }}');
            const formsetDiv = event.target.closest('tr');
            const targetStockItemSelect = formsetDiv.querySelector('[name$="-stock_item"]');
            const targetPriceInput = formsetDiv.querySelector('[name$="-price"]');
            const targetQuantityInput = formsetDiv.querySelector('[name$="-quantity"]');
    
            const selectedStockItem = stockItems.find(item => item.pk == targetStockItemSelect.value);
    
            if (selectedStockItem) {
                const quantity = parseFloat(targetQuantityInput.value) || 1;
                targetPriceInput.value = selectedStockItem.fields.selling_price * quantity;
            } else {
                targetPriceInput.value = '';
            }
            updateTotalDisplay();
        }
    
        function setDefaultQuantity() {
            const quantityInputs = document.querySelectorAll('[name$="-quantity"]');
            quantityInputs.forEach(input => {
                if (!input.value) {
                    input.value = 1;
                }
            });
        }
    
        function bindSelectEvent() {
            const stockItemSelects = document.querySelectorAll('[name$="-stock_item"]');
            const quantityInputs = document.querySelectorAll('[name$="-quantity"]');
    
            stockItemSelects.forEach(select => {
                select.removeEventListener('change', updatePrice);
                select.addEventListener('change', updatePrice);
            });
    
            quantityInputs.forEach(input => {
                input.removeEventListener('input', updatePrice);
                input.addEventListener('input', updatePrice);
            });
            updateTotalDisplay();
        }
    
        function addRemoveButton(row) {
            const removeButton = document.createElement('button');
            removeButton.textContent = 'Odstranit';
            removeButton.type = 'button';
            removeButton.classList.add(
                'focus:outline-none', 'text-white', 'bg-red-700', 'hover:bg-red-800',
                'focus:ring-4', 'focus:ring-red-300', 'font-medium', 'rounded-lg',
                'text-sm', 'px-5', 'py-2.5', 'mr-2', 'mb-2', 'dark:bg-red-600',
                'dark:hover:bg-red-700', 'dark:focus:ring-red-900'
            );
            removeButton.addEventListener('click', () => {
                formSet.removeChild(row);
                formIdx--;
                totalForms.setAttribute('value', `${formIdx}`);
                updateTotalDisplay();
            });
            const removeButtonCell = document.createElement('td');
            removeButtonCell.appendChild(removeButton);
            row.appendChild(removeButtonCell);
        }
    
        function addRemoveButtonsToExistingForms() {
            const forms = formSet.querySelectorAll('tr');
            forms.forEach(form => addRemoveButton(form));
        }
    
        function createFormDiv(html) {
            const newForm = document.createElement('div');
            newForm.innerHTML = html;
            return newForm;
        }

        function createFormRow(html) {
            const newRow = document.createElement('tr');
            newRow.innerHTML = html;
            newRow.querySelector('[name$="-stock_item"]').classList.add("border-gray-300", "focus:border-indigo-300", "focus:ring", "focus:ring-indigo-200", "focus:ring-opacity-50", "rounded-md", "shadow-sm");
            newRow.querySelector('[name$="-quantity"]').classList.add("border-gray-300", "focus:border-indigo-300", "focus:ring", "focus:ring-indigo-200", "focus:ring-opacity-50", "rounded-md", "shadow-sm");
            newRow.querySelector('[name$="-price"]').classList.add("border-gray-300", "focus:border-indigo-300", "focus:ring", "focus:ring-indigo-200", "focus:ring-opacity-50", "rounded-md", "shadow-sm");
            return newRow;
        }
    
        addButton.addEventListener('click', () => {
            const formHTML = `
                <td>{{ formset.empty_form.stock_item|escapejs }}</td>
                <td>{{ formset.empty_form.quantity|escapejs }}</td>
                <td>{{ formset.empty_form.price|escapejs }}</td>
            `.replace(/__prefix__/g, formIdx);
            const newRow = createFormRow(formHTML);
            formSet.appendChild(newRow);
            formIdx++;
            totalForms.setAttribute('value', `${formIdx}`);
            setDefaultQuantity();
            addRemoveButton(newRow);
            bindSelectEvent();
            updateTotalDisplay();
        });

        const addProcedureButton = document.getElementById('add-procedure-button');
        let procedureFormIdx = {{ procedure_formset|length }};
        const procedureFormSet = document.getElementById('procedure-form-set');
        const totalProcedureForms = document.querySelector("#id_visit_procedure-TOTAL_FORMS");

        function updateProcedurePrice(event) {
            const procedures = JSON.parse('{{ procedures_json|escapejs }}');
            const formsetRow = event.target.closest('tr');
            const targetProcedureSelect = formsetRow.querySelector('[name$="-procedure"]');
            const targetPriceInput = formsetRow.querySelector('[name$="-price"]');
        
            const selectedProcedure = procedures.find(item => item.pk == targetProcedureSelect.value);
        
            if (selectedProcedure) {
                targetPriceInput.value = selectedProcedure.fields.price;
            } else {
                targetPriceInput.value = '';
            }
            updateTotalDisplay();
        }

        function bindProcedureSelectEvent() {
            const procedureSelects = document.querySelectorAll('[name$="-procedure"]');
        
            procedureSelects.forEach(select => {
                select.removeEventListener('change', updateProcedurePrice);
                select.addEventListener('change', updateProcedurePrice);
            });
            updateTotalDisplay();
        }

        function addProcedureRemoveButton(row) {
            const removeButton = document.createElement('button');
            removeButton.textContent = 'Odstranit';
            removeButton.type = 'button';
            removeButton.classList.add(
                'focus:outline-none', 'text-white', 'bg-red-700', 'hover:bg-red-800',
                'focus:ring-4', 'focus:ring-red-300', 'font-medium', 'rounded-lg',
                'text-sm', 'px-5', 'py-2.5', 'mr-2', 'mb-2', 'dark:bg-red-600',
                'dark:hover:bg-red-700', 'dark:focus:ring-red-900'
            );
            removeButton.addEventListener('click', () => {
                procedureFormSet.removeChild(row);
                procedureFormIdx--;
                totalProcedureForms.setAttribute('value', `${procedureFormIdx}`);
                updateTotalDisplay();
            });
            const removeButtonCell = document.createElement('td');
            removeButtonCell.appendChild(removeButton);
            row.appendChild(removeButtonCell);
        }
        
        function addProcedureRemoveButtonsToExistingForms() {
            const forms = procedureFormSet.querySelectorAll('tr');
            forms.forEach(form => addProcedureRemoveButton(form));
        }
        
        function createProcedureFormRow(html) {
            const newRow = document.createElement('tr');
            newRow.innerHTML = html;
            newRow.querySelector('[name$="-procedure"]').classList.add("border-gray-300", "focus:border-indigo-300", "focus:ring", "focus:ring-indigo-200", "focus:ring-opacity-50", "rounded-md", "shadow-sm");
            newRow.querySelector('[name$="-price"]').classList.add("border-gray-300", "focus:border-indigo-300", "focus:ring", "focus:ring-indigo-200", "focus:ring-opacity-50", "rounded-md", "shadow-sm");
            return newRow;
        }
        
        addProcedureButton.addEventListener('click', () => {
            const formHTML = `
                <td>{{ procedure_formset.empty_form.procedure|escapejs }}</td>
                <td>{{ procedure_formset.empty_form.price|escapejs }}</td>
            `.replace(/__prefix__/g, procedureFormIdx);
            const newRow = createProcedureFormRow(formHTML);
            procedureFormSet.appendChild(newRow);
            procedureFormIdx++;
            totalProcedureForms.setAttribute('value', `${procedureFormIdx}`);
            addProcedureRemoveButton(newRow);
            bindProcedureSelectEvent();
            updateTotalDisplay();
        });

        function calculateTotal() {
            const itemPriceInputs = document.querySelectorAll('#form-set [name$="-price"]');
            const procedurePriceInputs = document.querySelectorAll('#procedure-form-set [name$="-price"]');
        
            let total = 0;
        
            itemPriceInputs.forEach(input => {
                const value = parseFloat(input.value);
                if (!isNaN(value)) {
                    total += value;
                }
            });
        
            procedurePriceInputs.forEach(input => {
                const value = parseFloat(input.value);
                if (!isNaN(value)) {
                    total += value;
                }
            });
        
            return total;
        }

        function updateTotalDisplay() {
            const totalPriceElement = document.getElementById('total-price');
            const total = calculateTotal();
            totalPriceElement.textContent = total.toFixed(2);
        }
    
        bindSelectEvent();
        setDefaultQuantity();
        bindProcedureSelectEvent();
        updateTotalDisplay();
    </script>
{% endblock content %}
