{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block navbar %}
    {% include "_navbar.html" %}
{% endblock navbar %}
{% block title %}
    Upravit skladovou položku
{% endblock title %}
{% block content %}
    <div class="flex flex-col justify-centermin-h-screen py-4 bg-gray-50 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900 leading-9">Upravit skladovou položku</h2>
        </div>
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-7xl">
            <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">{% crispy form %}</div>
        </div>
    </div>
    <script>
        function updateSellingPrice() {
            const purchasePriceField = document.getElementById("id_purchase_price");
            const marginField = document.getElementById("id_margin");
            const sellingPriceField = document.getElementById("id_selling_price");

            if (purchasePriceField.value && marginField.value) {
                const purchasePrice = parseFloat(purchasePriceField.value);
                const margin = parseFloat(marginField.value);
                const sellingPrice = purchasePrice * (1 + (margin / 100));
                sellingPriceField.value = sellingPrice.toFixed(2);
            } else {
                sellingPriceField.value = "";
            }
        }

        document.getElementById("id_purchase_price").addEventListener("input", updateSellingPrice);
        document.getElementById("id_margin").addEventListener("input", updateSellingPrice);
    </script>
{% endblock content %}
